<ion-content>
  
  <ion-title class="ion-padding-top ion-text-center">
    <img src="/assets/img/Logo-DUOC2.png" alt="image">
    <ion-label>
      <p>Sistema de asistencia </p>
    </ion-label>
  </ion-title>
  
  <div class="ion-padding-vertical">

    <ion-card class="ion-text-center ion-padding-vertical">

      <ion-card-title class="ion-text-center">
        <ion-label>
          <h2>Registro</h2>
        </ion-label>
      </ion-card-title>

    
      <ion-item>
        <ion-input type="text" [(ngModel)]="usuario.nombre" label="Nombre" labelPlacement="floating"></ion-input>
        
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="usuario.apellido" label="Apellidos" labelPlacement="floating"></ion-input>
        
      </ion-item>

      <ion-item>
        <ion-input type="text" [(ngModel)]="usuario.correo" label="Correo" labelPlacement="floating"></ion-input>
       
      </ion-item>

      <ion-item>
        <ion-input type="text" [(ngModel)]="usuario.preguntaSecreta" label="Pregunta secreta" labelPlacement="floating"></ion-input>
        
      </ion-item>

      <ion-item>
        <ion-input type="text" [(ngModel)]="usuario.respuestaSecreta" label="Respuesta secreta" labelPlacement="floating"></ion-input>
        
      </ion-item>

      <ion-item>
        <ion-input type="password" [(ngModel)]="usuario.password" label="Contraseña" labelPlacement="floating"></ion-input>
        
      </ion-item>

      <ion-item>
        <ion-input type="password" [(ngModel)]="repeticionPassword" label="Repetir contraseña" labelPlacement="floating"></ion-input>
        
      </ion-item>

   

  <br>
  <div class="centrar-boton">
    <ion-button (click)="Registro()">
      Registrarme
    </ion-button>
  </div>

  <ion-label>
    <br>
    <a routerLink="/ingreso">Volver atrás</a>
  </ion-label>

    </ion-card>


