ion-content{
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
  }

ion-content{
    --background: url('../../../assets/img/fondo.jpg') 0 0/100% 100% no-repeat;
    font-family: Arial, Helvetica, sans-serif;
  }


h1 {
    font-size: large;
}

h2 {
    font-size: medium;
}

p {
    font-size: small;
}

ion-card {
    padding: 10%;
}